@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to YummyNummies!</h1>
    <h3>Don't know what to do with the random ingredients in your fridge?</h3>
    <h3>We can help you find a recipe that uses them!</h3>
</div>
